body {
  
  height: 100vh;
  width: 99vw !important;
}

.container-fluid {
  background-image: url("../../img/background-TELA INICIAL.jpg");
  height: 100vh;
  
}

.content {
  width: 50vw;
  border: 2px solid #000000;
  padding: 25px;
}

input::placeholder {
  color: #FFF !important;
  font-weight: 400;
}

@media(max-width: 768px) {
  .content {
    width: 99vw !important;
  }
}

